{%extends "base.html"%}

{%block head%}
<title>"Student page"</title>

{%endblock%}

{%block body%}



<div class="upload_photo">
  <form class="image_input" action="/uploadimage" method="post" enctype = "multipart/form-data">

    <div class="upload_form">
      <h2>Upload your image</h2>
      <br>

      <label>Enter your name:</label>

      <input type="text" name="student_name">
      <br>
      <br>
      <label>Choose atleast 3 images:</label>
      <input type="file" name="images" multiple>
      <br>
      <br>
      <input type="submit" value="submit">
    </div>
    </form>



</div>

{%endblock%}
